*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
}

main{
    background-color: black;
    flex-grow: 1;
    justify-content: center;
    margin: 30px 100px;
}


footer{
    background-color: #222222;
}

/* UTILITY */

.flex{
    display: flex;
}

.f-end{
    justify-content: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.f-space-between{
    justify-content: space-between;
}

.f-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/*            */

.icon-cont1, .icon-cont2{
    padding-right: 10px;
    padding-top: 5px;
    
}

.btn-1{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #4A4A4A;
}

.card{
    width: calc(100% / 7);
    height: calc(100% / 5);
    padding: 5px;
    position: relative;

}

.card > img{
    width: 100%;
    
}

.span-2{
    color: white;
    background-color: grey;
    position: absolute;
    bottom: 35px;
    left: 5px;
    padding: 5px;

}

.icon{
    color: white;
    text-align: center;
    padding-right: 20px;
    margin-left: 10px;
    margin: 20px 10px;
}

.up-arrow{
    display: flex;
    align-items: center;
    color: white;
    padding-right: 20px;
    

}

.end-meeting{
    background-color: #4A4A4A;
    color: red;
    text-align: center;
    padding: 35px;
    

}

.green-it i{
    color: green;
}







